* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.header {
  height: 80vh;
  padding: auto;
  background-image: linear-gradient(
    to right,
    rgb(108, 108, 241),
    rgb(119, 253, 253)
  );
}

.navbar {
  font-weight: bold;
  color: white;
}
.navbar .navbar-brand {
  padding: 0 0 0 35px;
}
.navbar .navbar-nav {
  padding-right: 35px;
}
.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 12px;
  padding: 30px 15px;
}
.aboutSection {
  margin-left: 20px;
  margin-right: 20px;
}
.aboutSection .about {
  min-width: 45vw;
  height: auto;
  margin: auto;
  padding-top: 100px;
  padding-left: 60px;
}
.aboutSection h2 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.aboutSection h4 {
  font-weight: bold;
}
.aboutSection p {
  font-size: 14px;
  color: rgb(119, 119, 119);
  padding-right: 150px;
}
.aboutSection h6 {
  font-size: 14px;
  color: rgb(119, 119, 119);
}

.Progress p {
  color: black;
  font-weight: bold;
  margin-top: 15px;
}

.progressBar {
  height: 10px;
  min-width: 37vw;
  border-radius: 10px;
  background-color: rgb(218, 215, 215);
  margin-left: 5px;
}
.Progress {
  padding-right: 60px;
}

.progressBar > div {
  width: 85%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgb(108, 108, 241),
    rgb(119, 253, 253)
  );
}
.heading {
  padding: 95px 0 80px 0;
}

.heading p {
  width: 55%;
  font-size: 16px;
  color: rgb(119, 119, 119);
  text-align: center;
  margin: auto;
}
.heading h2 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}
.offerings {
  background-color: aliceblue;
  padding-bottom: 80px;
}
.offerings img {
  width: 90px;
  height: 90px;
}
h4 {
  font-weight: bold;
  padding-bottom: 20px;
}
h6 {
  font-size: 14px;
  color: rgb(119, 119, 119);
  width: 75%;
}
.body {
  max-width: 350px;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-around;
}

table {
  width: 40%;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
td {
  font-size: 13px;
}
#first {
  color: royalblue;
}
.projects img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}
.projects {
  text-align: center;
  padding-bottom: 90px;
}
.projects h6 {
  width: 50%;
  margin: auto;
}
.btn {
  margin-top: 60px;
  font-size: 14px;
  background-image: linear-gradient(
    to right,
    rgb(108, 108, 241),
    rgb(119, 253, 253)
  );
  border: none;
  height: 40px;
  padding: 5px 30px 5px 30px;
  margin-bottom: 60px;
}
.testimonials {
  background-color: aliceblue;
  padding-bottom: 90px;
}
.testimonials .body {
  padding-top: 30px;
  padding-left: 30px;
  height: 230px;
}
.testimonials .body h4 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.filled {
  color: orange;
}

footer {
  background-color: black;
  padding: 50px 0 40px 0;
}
.footerBody {
  min-width: 380px;
  padding: 60px 20px 0 40px;
}
.footerBody h6 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.footerBody p {
  color: rgb(119, 119, 119);
  font-size: 14px;
  padding-bottom: 20px;
}
.footerBody span {
  color: blue;
}
.footerBody input {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(108, 108, 241);
  padding-left: 10px;
  margin-bottom: 20px;
  display: inline;
  background-color: black;
}
.footerBody .btn {
  width: 40px;
  height: 40px;
  display: inline;
  margin-top: 0px;
  border-radius: 0%;
  padding: 0;
}
.socialAccounts span {
  color: rgb(204, 202, 202);
  font-size: 14px;
  padding-right: 20px;
}
.profile span {
  color: rgb(108, 108, 241);
  padding: 5px;
}
.profile {
  padding: 3%;
  background-color: rgb(255, 255, 255);
  width: 88%;
  margin: 0 auto;
  margin-top: -350px;
  border-radius: 10px;
  box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.4);
}
.profile .body,
.profile img {
  max-width: 100%;
  min-width: 30%;
  height: auto;
  margin: auto;
}
#bar2{
    width: 90%;
}
#bar3{
    width: 70%;
}
#bar4{
    width: 95%;
}
#bar5{
    width: 75%;
}

.profile h6 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.profile h1 {
  color: black;
  font-weight: bold;
}
.profile p {
  color: rgb(119, 119, 119);
}
.profile i {
  color: #dce1ef;
  padding: 5px;
}
.notFilled img {
  width: 18px;
  height: 18px;
}
@media (max-width: 768px) {
  .header {
    background-image: none;
    height: 410px;
  }
  .navbar {
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 1000;
  }
  .navbar-toggler-icon {
    color: white;
  }
  .aboutSection .about {
    padding-left: 20px;
  }
  .aboutSection p {
    padding-right: 10px;
  }
  .heading p {
    width: 90%;
  }
  p {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .body {
    max-width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
  }
  h6 {
    width: 90%;
  }
  .profile {
    box-shadow: none;
  }
}

@media (min-width: 992px) and (max-width: 1094px) {
  .body {
    margin-left: 10px;
    margin-right: 10px;
  }
}
